* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

body {
   display: grid;
   width: 100vw;
   height: 100vh;
   grid-template: repeat(12, 1fr) / repeat(12, 1fr); 
}

header {
    grid-area: 1 / 6 / 1 / span 2;
    background-color: black;
    text-align: center;
    letter-spacing: .5px;
    border: solid 1px white;
    justify-content: center;
    align-content: center;
}
header img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    opacity: 0.5;
    padding-top: 3px;
}
header img:hover {
    opacity: 1;
    transition: 2s;
}
header img {
    opacity: 0.5;
    transition: 2s;
}

.logo {
    grid-area: 1 / 1 / 1 / span 2;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.menu {
    grid-area: 1 / 11 / 1 / span 2;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.portfolio {
    grid-area: 2 / 1 / 2 / span 12;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.project-1-info {
    grid-area: 3 / 1 / 6 / span 5;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.project-1-link
{
    grid-area: 3 / 8 / 6 / span 5;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.project-2-link {
    grid-area: 6 / 1 / 9 / span 5;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.project-2-info {
    grid-area: 6 / 8 / 9 / span 5;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.project-3-info {
    grid-area: 9 / 1 / 12 / span 5;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.project-3-link {
    grid-area: 9 / 8 / 12 / span 5;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

.social-links {
    grid-area: 12 / 1 / 12 / span 2;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid 1px white;
}

footer {
    background-color: black;
    grid-area: 12 / 11 / 12 / span 2;
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
    border: solid 1px white;
}

button {
    background-color: white;
    color: black;
    border: 0;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

button:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: black;
    box-shadow: 0px 0px;
}
